{% extends 'cal/base.html' %}

{% block title %}
About Today
{% endblock %}

{% block content %}
<div class="clearfix">
  <a class="btn btn-info left" href="{% url 'cal:calendar' %}"> << Back </a>
</div>
<table style="width:100%">
<tr>
    <td style="width : 70%"><img class="responsive" width="800" height="200" src="{{ festival.image.url }}"  style="padding-left:40px"></td>
    <td style="width : 30%" >
      <ul style="list-style-type: none">
        <li><h2>{{ festival.name }}</h2></li>
        <br>
        {% if festival.date %}
        <li>Date : {{ festival.date }}</li>
        {% endif %}
        {% if festival.paksha %}
        <li>Paksha : {{ festival.paksha }}</li>
        {% endif %}
        {% if festival.tithi %}
        <li>Tithi : {{ festival.tithi }}</li>
        {% endif %}
        {% if festival.maasa %}
        <li>Maasa : {{ festival.maasa }}</li>
        {% endif %}
        {% if festival.nakshtra %}
        <li>Nakshtra : {{ festival.nakshtra }}</li>
        {% endif %}
        {% if festival.sowra %}
        <li>Sowra : {{ festival.sowra }}</li>
        {% endif %}
        {% if festival.muhammadan %}
        <li>Muhammadan : {{ festival.muhammadan }}</li>
        {% endif %}
        {% if festival.rahukaala_start %}
        <li>Rahukaala : {{ festival.rahukaala_start }}-{{ festival.rahukaala_end }}</li>
        {% endif %}
      </ul>
    </td>
</tr>
</table>
<br>
<p style="padding-left:40px; padding-right:40px;">{{ festival.description }}</p>
<br>
<br>

{% endblock %}